/* 
    Document   : minesweeperCSS
    Created on : 19-mrt-2019, 12:46:42
    Author     : Kasper Zutterman
    Description:
        Purpose of the stylesheet follows.
*/
.BoardView {
    -fx-padding: 20;
}
.button {
    -fx-background-color: white;
    -fx-background-radius: 0,0,0,0;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 0;
}

.button:focused{
    -fx-background-insets: 0,0,0,0;
}